<div class="container-fluid">
  <div class="" style="margin-top: 10px;">
    <ng-container *ngIf="cardView">
      <span class="fa fa-camera header"></span>&nbsp;&nbsp;<span class="header">Task Manager &nbsp;&nbsp;</span>
      <label for="filterlist" class="filter">Filter By:</label>
      <select id="list" (change)="check($event)">
        <option value="date">Due Date</option>
        <option value="client">Client</option>
        <option value="responsibility">Responsibility</option>
        <option value="category">Category</option>
        <option value="type">Type</option>
      </select>
    </ng-container>
    <ng-container *ngIf="recordView">
      <span class="fa fa-table header"></span>&nbsp;&nbsp;<span class="header">Workstream &nbsp;&nbsp;</span>
      <label for="filterlist" class="filter">Show Policies for Activity:</label>
      <select id="list" (change)="checkTable($event)">
        <option value="0">Policy Issuance</option>
        <option value="1">Status</option>
        <option value="2">Group Name</option>
        <option value="3">Notes</option>
        <option value="4">Effective Date</option>
        <option value="5">TPA</option>
        <option value="6">Underwriter</option>
        <option value="7">Producer</option>
      </select>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="filterlist2" class="filter">Showing:</label>
      <select id="filterlist" (change)="checkTotalCol($event)">
        <option value="7">8 Columns</option>
        <option value="6">7 Columns</option>
        <option value="5">6 Columns</option>
        <option value="4">5 Columns</option>
        <option value="3">4 Columns</option>
        <option value="2">3 Columns</option>
        <option value="1">2 Columns</option>
        <option value="0">1 Columns</option>
      </select>
    </ng-container>
    
    <div class="row toggleView">
      <div style="margin: -5px 0;">View: &nbsp;&nbsp;</div>
      <div class="fa fa-camera" (click)="toggleView()" [ngClass]="{'active' : cardView}"></div> &nbsp;&nbsp;&nbsp;
      <div class="fa fa-table" (click)="toggleView()" [ngClass]="{'active' : recordView}"></div>
    </div>
  </div>

  <div class="row cardView" *ngIf="cardView">
    <ng-container *ngFor="let grpRecord of grpItemKeys; let first = first; let id = index;">
        <div class="col-lg-3" *ngIf="id <=3">
          <div class="col-lg-12 due-date" *ngIf="key === 'date'"><span *ngIf="first">Due </span>{{grpRecord | date:'mediumDate'}}</div>
          <div class="col-lg-12 due-date" *ngIf="key !== 'date'">{{grpRecord}}</div>
          <div class="item-list" cdkDropList id="{{grpRecord}}" (cdkDropListDropped)="drop($event)" [cdkDropListData]="grpItem[grpRecord]" [cdkDropListConnectedTo]="connect(grpRecord)">
            <div cdkDrag *ngFor="let grpDa of grpItem[grpRecord];"
            (cdkDragEntered)="dragEntered($event)">
              <div class="col-card">
                <div class="col-lg-12 mb-16 col-text">{{grpDa.type}}<span style="float: right;">::</span></div>
                <div class="col-lg-12"><span class="col-head">Category:</span>&nbsp;&nbsp;{{grpDa.category}}</div>
                <div class="col-lg-12"><span class="col-head">Responsibility:</span>&nbsp;&nbsp;{{grpDa.responsibility}}</div>
                <div class="col-lg-12"><span class="col-head">Client:</span>&nbsp;&nbsp;<span class="col-text">{{grpDa.client}}</span></div>
                <div class="col-lg-12"><span class="col-head">Date:</span>&nbsp;&nbsp;<span class="col-text">{{grpDa.date | date:'mediumDate'}}</span></div>
              </div>
            </div>
          </div>
        </div>
    </ng-container>
  </div>

  <div class="row recordView" *ngIf="recordView" style="margin: 20px 20px;">
    <div style="width:100%;">
      <div class="col-lg-12 records-data">
          <div class="row">
          <td *ngIf="displayTableRecords(keyTableIds) && displayTableDetails(keyTableIds, true)" [ngClass]="[4,5,6,7].indexOf(keyTable) >= 0 ? 'col-lg-1' : 'col-lg-2'">{{this.dataListKeys[keyTable]}}</td>
          <td *ngIf="displayTableRecords(0) && displayTableDetails(0) && hideExtraCol(0)" class="col-lg-2">Policy Number</td>
          <td *ngIf="displayTableRecords(1) && displayTableDetails(1) && hideExtraCol(1)" class="col-lg-2">Status</td>
          <td *ngIf="displayTableRecords(2) && displayTableDetails(2) && hideExtraCol(2)" class="col-lg-2">Group Name</td>
          <td *ngIf="displayTableRecords(3) && displayTableDetails(3) && hideExtraCol(3)" class="col-lg-2">Notes</td>
          <td *ngIf="displayTableRecords(4) && displayTableDetails(4) && hideExtraCol(4)" class="col-lg-1">Effective Date</td>
          <td *ngIf="displayTableRecords(5) && displayTableDetails(5) && hideExtraCol(5)" class="col-lg-1">TPA</td>
          <td *ngIf="displayTableRecords(6) && displayTableDetails(6) && hideExtraCol(6)" class="col-lg-1">Underwriter</td>
          <td *ngIf="displayTableRecords(7) && displayTableDetails(7) && hideExtraCol(7)" class="col-lg-1">Producer</td>
        </div>
      </div>
      <div *ngFor="let data of currentDataList; let i = index" class="records-data col-lg-12">
        <div class="row">
          <td *ngIf="displayTableRecords(keyTableIds) && displayTableDetails(keyTableIds, true)" [ngClass]="[4,5,6,7].indexOf(keyTable) >= 0 ? 'col-lg-1 text-style' : 'col-lg-2 text-style'" class="col-lg-1 text-style" title="{{data[displayTableu()]}}">{{data[displayTableu()]}}</td>
          <td *ngIf="displayTableRecords(keyTableIds) && displayTableDetails(0) && hideExtraCol(0)" class="col-lg-2" title="{{data.policyNumber}}">{{data.policyNumber}}</td>
          <td *ngIf="displayTableRecords(1) && displayTableDetails(1) && hideExtraCol(1)" class="col-lg-2" title="{{data.status}}">{{data.status}}</td>
          <td *ngIf="displayTableRecords(2) && displayTableDetails(2) && hideExtraCol(2)" class="col-lg-2" title="{{data.groupName}}">{{data.groupName}}</td>
          <td *ngIf="displayTableRecords(3) && displayTableDetails(3) && hideExtraCol(3)" class="col-lg-2 text-style" title="{{data.notes}}">{{data.notes}}</td>
          <td *ngIf="displayTableRecords(4) && displayTableDetails(4) && hideExtraCol(4)" class="col-lg-1" title="{{data.effectiveDate | date:'mediumDate'}}">{{data.effectiveDate | date:'mediumDate'}}</td>
          <td *ngIf="displayTableRecords(5) && displayTableDetails(5) && hideExtraCol(5) " class="col-lg-1" title="{{data.tpa}}">{{data.tpa}}</td>
          <td *ngIf="displayTableRecords(6) && displayTableDetails(6) && hideExtraCol(6)" class="col-lg-1" title="{{data.underwriter}}">{{data.underwriter}}</td>
          <td *ngIf="displayTableRecords(7) && displayTableDetails(7) && hideExtraCol(7)" class="col-lg-1" title="{{data.producer}}">{{data.producer}}</td>
        </div>
      </div>
      <div class="pagination">
        <p>Items per page: {{itemsPerPage}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span>{{item1}}-{{item2}} of {{totalItem}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span [ngClass]="{active: this.index >=1}" (click)="previousItem()"><</span> &nbsp;&nbsp; <span [ngClass]="{active: this.index + 1 < this.totalItem/this.itemsPerPage}" (click)="nextItem()">></span></p>
      </div>
    </div>
  </div>
</div>